.pink-100        { background-color: #FFEFFF; }
.pink-200        { background-color: #FF9AAD; }
.pink-300        { background-color: #EF559C; }
.pink-400        { background-color: #FF65AD; }
.pink-500        { background-color: #FF0063; }
.pink-600        { background-color: #BD4573; }
.pink-700        { background-color: #CE0052; }
.pink-800        { background-color: #9C0031; }
.pink-900        { background-color: #522031; }
.red-100         { background-color: #FFBACE; }
.red-200         { background-color: #FF7573; }
.red-300         { background-color: #DE3010; }
.red-400         { background-color: #FF5542; }
.red-500         { background-color: #FF0000; }
.red-600         { background-color: #CE6563; }
.red-700         { background-color: #BD4542; }
.red-800         { background-color: #BD0000; }
.red-900         { background-color: #8C2021; }
.orange-100      { background-color: #DECFBD; }
.orange-200      { background-color: #FFCF63; }
.orange-300      { background-color: #DE6521; }
.orange-400      { background-color: #FFAA21; }
.orange-500      { background-color: #FF6500; }
.orange-600      { background-color: #BD8A52; }
.orange-700      { background-color: #DE4500; }
.orange-800      { background-color: #BD4500; }
.orange-900      { background-color: #633010; }
.peach-100       { background-color: #FFEFDE; }
.peach-200       { background-color: #FFDFCE; }
.peach-300       { background-color: #FFCFAD; }
.peach-400       { background-color: #FFBA8C; }
.peach-500       { background-color: #FFAA8C; }
.peach-600       { background-color: #DE8A63; }
.peach-700       { background-color: #BD6542; }
.peach-800       { background-color: #9C5531; }
.peach-900       { background-color: #8C4521; }
.purple-100      { background-color: #FFCFFF; }
.purple-200      { background-color: #EF8AFF; }
.purple-300      { background-color: #CE65DE; }
.purple-400      { background-color: #BD8ACE; }
.purple-500      { background-color: #CE00FF; }
.purple-600      { background-color: #9C659C; }
.purple-700      { background-color: #8C00AD; }
.purple-800      { background-color: #520073; }
.purple-900      { background-color: #310042; }
.fuchsia-100     { background-color: #FFBAFF; }
.fuchsia-200     { background-color: #FF9AFF; }
.fuchsia-300     { background-color: #DE20BD; }
.fuchsia-400     { background-color: #FF55EF; }
.fuchsia-500     { background-color: #FF00CE; }
.fuchsia-600     { background-color: #8C5573; }
.fuchsia-700     { background-color: #BD009C; }
.fuchsia-800     { background-color: #8C0063; }
.fuchsia-900     { background-color: #520042; }
.brown-100       { background-color: #DEBA9C; }
.brown-200       { background-color: #CEAA73; }
.brown-300       { background-color: #734531; }
.brown-400       { background-color: #AD7542; }
.brown-500       { background-color: #9C3000; }
.brown-600       { background-color: #733021; }
.brown-700       { background-color: #522000; }
.brown-800       { background-color: #311000; }
.brown-900       { background-color: #211000; }
.yellow-100      { background-color: #FFFFCE; }
.yellow-200      { background-color: #FFFF73; }
.yellow-300      { background-color: #DEDF21; }
.yellow-400      { background-color: #FFFF00; }
.yellow-500      { background-color: #FFDF00; }
.yellow-600      { background-color: #CEAA00; }
.yellow-700      { background-color: #9C9A00; }
.yellow-800      { background-color: #8C7500; }
.yellow-900      { background-color: #525500; }
.indigo-100      { background-color: #DEBAFF; }
.indigo-200      { background-color: #BD9AEF; }
.indigo-300      { background-color: #6330CE; }
.indigo-400      { background-color: #9C55FF; }
.indigo-500      { background-color: #6300FF; }
.indigo-600      { background-color: #52458C; }
.indigo-700      { background-color: #42009C; }
.indigo-800      { background-color: #210063; }
.indigo-900      { background-color: #211031; }
.blue-100        { background-color: #BDBAFF; }
.blue-200        { background-color: #8C9AFF; }
.blue-300        { background-color: #3130AD; }
.blue-400        { background-color: #3155EF; }
.blue-500        { background-color: #0000FF; }
.blue-600        { background-color: #31308C; }
.blue-700        { background-color: #0000AD; }
.blue-800        { background-color: #101063; }
.blue-900        { background-color: #000021; }
.dark-green-100  { background-color: #9CEFBD; }
.dark-green-200  { background-color: #63CF73; }
.dark-green-300  { background-color: #216510; }
.dark-green-400  { background-color: #42AA31; }
.dark-green-500  { background-color: #008A31; }
.dark-green-600  { background-color: #527552; }
.dark-green-700  { background-color: #215500; }
.dark-green-800  { background-color: #103021; }
.dark-green-900  { background-color: #002010; }
.light-green-100 { background-color: #DEFFBD; }
.light-green-200 { background-color: #CEFF8C; }
.light-green-300 { background-color: #8CAA52; }
.light-green-400 { background-color: #ADDF8C; }
.light-green-500 { background-color: #8CFF00; }
.light-green-600 { background-color: #ADBA9C; }
.light-green-700 { background-color: #63BA00; }
.light-green-800 { background-color: #529A00; }
.light-green-900 { background-color: #316500; }
.slate-blue-100  { background-color: #BDDFFF; }
.slate-blue-200  { background-color: #73CFFF; }
.slate-blue-300  { background-color: #31559C; }
.slate-blue-400  { background-color: #639AFF; }
.slate-blue-500  { background-color: #1075FF; }
.slate-blue-600  { background-color: #4275AD; }
.slate-blue-700  { background-color: #214573; }
.slate-blue-800  { background-color: #002073; }
.slate-blue-900  { background-color: #001042; }
.light-blue-100  { background-color: #ADFFFF; }
.light-blue-200  { background-color: #52FFFF; }
.light-blue-300  { background-color: #008ABD; }
.light-blue-400  { background-color: #52BACE; }
.light-blue-500  { background-color: #00CFFF; }
.light-blue-600  { background-color: #429AAD; }
.light-blue-700  { background-color: #00658C; }
.light-blue-800  { background-color: #004552; }
.light-blue-900  { background-color: #002031; }
.ocean-blue-100  { background-color: #CEFFEF; }
.ocean-blue-200  { background-color: #ADEFDE; }
.ocean-blue-300  { background-color: #31CFAD; }
.ocean-blue-400  { background-color: #52EFBD; }
.ocean-blue-500  { background-color: #00FFCE; }
.ocean-blue-600  { background-color: #73AAAD; }
.ocean-blue-700  { background-color: #00AA9C; }
.ocean-blue-800  { background-color: #008A73; }
.ocean-blue-900  { background-color: #004531; }
.green-100       { background-color: #ADFFAD; }
.green-200       { background-color: #73FF73; }
.green-300       { background-color: #63DF42; }
.green-400       { background-color: #00FF00; }
.green-500       { background-color: #21DF21; }
.green-600       { background-color: #52BA52; }
.green-700       { background-color: #00BA00; }
.green-800       { background-color: #008A00; }
.green-900       { background-color: #214521; }
.grayscale-1     { background-color: #FFFFFF; }
.grayscale-2     { background-color: #ECECEC; }
.grayscale-3     { background-color: #DADADA; }
.grayscale-4     { background-color: #C8C8C8; }
.grayscale-5     { background-color: #B6B6B6; }
.grayscale-6     { background-color: #A3A3A3; }
.grayscale-7     { background-color: #919191; }
.grayscale-8     { background-color: #7F7F7F; }
.grayscale-9     { background-color: #6D6D6D; }
.grayscale-10    { background-color: #5B5B5B; }
.grayscale-11    { background-color: #484848; }
.grayscale-12    { background-color: #363636; }
.grayscale-13    { background-color: #242424; }
.grayscale-14    { background-color: #121212; }
.grayscale-15    { background-color: #000000; }
